@mixin technology-title {
	font-size: 1.5rem;
	font-weight: 500;
	padding-top: 0.8rem;
}

.skills {
	margin: 0 auto;
	max-width: 1184px;
	&__title {
		font-weight: 600;
		font-size: 2.25rem;
		line-height: 3rem;
		padding: 1rem 0;
		border-bottom: 2px solid $athens-gray;
	}

	&__stack__title {
		@include technology-title;
	}

	&__item {
		font-style: normal;
		font-weight: normal;
		font-size: 1.125rem;
		line-height: 1.375rem;
		color: $shuttle-gray;
		position: relative;
		padding: 11px 0px 11px 30px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 11;
			display: block;
			width: 18px;
			height: 18px;
			background: url('../../assets/img/check-circle-green.svg');

			.section__color-royal-purple & {
				background: url('../../assets/img/check-circle-fioolet.svg');
			}
			.section__color-mariner & {
				background: url('../../assets/img/check-circle.blue.svg');
			}
		}
	}
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__frontend {
		@include technology-title;
	}

	&__working,
	&__learn,
	&__know {
		display: grid;
		grid-template-columns: 4fr 2fr 2fr;
		padding: 1rem 0 3rem;
		&__title {
			font-weight: 600;
			font-size: 2rem;
			line-height: 2.75rem;
			margin: 0;
			&::before {
				content: '';
				width: 5rem;
				height: 0.25rem;
				display: block;
				background: $malachite;
				border-radius: 8px;
				margin-bottom: 1.5rem;

				.section__color-royal-purple & {
					background: $royal-purple;
				}
				.section__color-mariner & {
					background: $mariner;
				}
			}
		}
	}
}
