$athens-gray: #e5e8ec;
$azure-radiance: #0593fb;
$big-stone: #171f3f;
$malachite: #06c847;
$mariner: #2251cc;
$royal-purple: #653cad;
$shuttle-gray: #52606d;
$ghost: #cbd2d9;
$white: #ffffff;
$catskill-white: #f5f7fa;
$max-width: 1184px;
